.header {

  a {
    @include menu-link;
    font-weight: bold;
  }
  // @include desktop {
    background-color: $c-black;
    display: flex;

    li {
      padding: 2rem 3rem;
    }

    .headerLogo {
      text-align: center;
      align-self: center;
      padding-left: 1.2rem;
      padding-right: 4rem;
    }

    .headerNavMenu {
      display: flex;
      justify-content:flex-end;
    }
    .skip {
      color: salmon;
      background-color: white;
      width: fit-content;
      position: absolute;
      right: 1rem;
      padding: .5rem 1.5rem;
      border-radius: 0 0 0.25rem 0.25rem;
      transform: translateY(-120%);
      transition: transform 325ms ease-in;
      &:focus {
        transform: translateY(0);
      }
    }
  }
  // }
